openapi: 3.0.3
info:
    description: |
        This is documentation for the SocialBu API.

        Base URL: `https://socialbu.com/api/v1`

        Pass your API token from the SocialBu dashboard in the `Authorization` header:
        `Authorization: Bearer YOUR_API_TOKEN`

        You can get your API token from **Settings** in your SocialBu dashboard. You can also generate one programmatically by calling `POST /auth/get_token` with your email and password.

        Example GET request: `GET https://socialbu.com/api/v1/accounts`
    version: "1.0.0"
    title: SocialBu API
    termsOfService: 'https://socialbu.com/about/terms'
    contact:
        email: support@socialbu.com
servers:
    - description: SocialBu API
      url: https://socialbu.com/api/v1
tags:
    - name: Authentication
      description: Authenticate api requests
    - name: Posts
      description: Manage your posts
    - name: Tags
      description: Manage tags for posts or the inbox (post and inbox tags are independent).
    - name: Queues
      description: Manage your publishing queues and queue items.
    - name: Media Upload
      description: |
        Upload media files to your posts.

        **Option A — Three-step signed URL flow:**
          1. Get a signed URL for direct media upload to SocialBu's storage using `POST /upload_media`.
          2. Use the signed_url from Step 1 to upload your actual file (video/image) directly to SocialBu's storage.
          3. Once the file is uploaded, confirm its status using the media key returned in Step 1 via `/upload_media/status`.

        Now that the media is uploaded and verified, you can attach this file to your post using the upload_token recieved in Step 3.

        **Option B — Single-step URL or data URL upload:**
          Use `POST /upload_media_by_url` with an HTTP(S) URL or a base64 data URL. The server stores the file and returns an `upload_token` directly in one step — no signed URL or status check needed.
    - name: Accounts
      description: Manage your social accounts
    - name: Team
      description: Manage your teams
    - name: Curation
      description: Access curated content.
    - name: Insights
      description: Get valuable insights about your account's content.
    - name: Notifications
      description: Manage your notifications.
    - name: Social Inbox
      description: Access and manage social inbox conversations.
    - name: Social Listening
      description: Manage social listening sources, streams, and stream items.

security:
    - bearerAuth: []

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
            description: |
                Send your SocialBu API token in the `Authorization` header:
                `Authorization: Bearer YOUR_API_TOKEN`
    schemas:
        BestPostingWeekday:
          type: object
          required: [weekday, name, total_posts, measured_posts, average_rate]
          properties:
            weekday:
              type: integer
              minimum: 1
              maximum: 7
              description: Monday is 1 and Sunday is 7 in the user's timezone.
            name:
              type: string
            total_posts:
              type: integer
            measured_posts:
              type: integer
            average_rate:
              type: number
              nullable: true
              description: Mean per-post engagement rate in percent; null when no post has a calculable rate.

        UploadedMediaTokenAttachment:
          type: object
          required:
            - upload_token
          properties:
            upload_token:
              type: string
              description: The value received from `/upload_media/status` or `/upload_media_by_url`.

        SavedPostAttachment:
          type: object
          description: |
            A previously saved attachment object as returned by `GET /posts/{postId}`.
            When updating a post, send this full object back to keep an already-saved attachment on the post.
          required:
            - path
          properties:
            path:
              type: string
              description: Storage path used to identify an already-saved attachment to keep during post updates.
            name:
              type: string
              description: Original or normalized filename for the attachment.
            type:
              type: string
              description: File extension for the attachment, such as `jpg`, `png`, or `mp4`.
            mime:
              type: string
              description: MIME type for the attachment.
            url:
              type: string
              format: uri
              description: Resolved media URL returned by the API.
            size:
              type: integer
              description: File size in bytes, when available.
            key:
              type: string
              description: Internal storage key. Included in some attachment payloads.
            secureKey:
              type: string
              description: Encrypted storage key. Included in some attachment payloads.
            extension:
              type: string
              description: File extension before normalization to `type`, when present.

        PostUpdateExistingAttachment:
          oneOf:
            - $ref: '#/components/schemas/UploadedMediaTokenAttachment'
            - $ref: '#/components/schemas/SavedPostAttachment'
          description: |
            `existing_attachments` on post updates accepts two input shapes:
            - Newly uploaded media token object: `{ "upload_token": "..." }`
            - Already-saved attachment object: the full attachment object returned by `GET /posts/{postId}`, including its `path`

            For already-saved attachments, sending only an `upload_token` is not enough to preserve them. The server matches saved attachments by `path`.
        
        GenericPostRequest:
          type: object
          required:
            - accounts
            - publish_at
          properties:
            accounts:
              type: array
              description: ID(s) of one or more social media accounts.
              items:
                type: integer
            team_id:
              type: integer
              description: Team Id of social media account.
            publish_at:
              type: string
              example: "2025-04-14 15:30:00"
              description: Format should be Y-m-d H:i:s (UTC)
            content:
              type: string
              description: The content for the post.
            draft:
                type: boolean
                description: Save the post as a draft
            queue_ids:
                type: array
                description: If provided, the post will be added to the specified queues.
                items:
                    type: integer
            existing_attachments:
              type: array
              description: Attachments already uploaded to SocialBu's storage using media upload endpoint.
              items:
                $ref: '#/components/schemas/UploadedMediaTokenAttachment'
            postback_url:
                type: string
                description: Receive postback at this URL if needed. Sends a JSON POST request with parameters `post_id`, `account_id`, and `status` (created, published, failed).
            tags:
              type: array
              maxItems: 10
              description: >-
                  ID(s) of existing tags to apply to the post (maximum 10). Use `GET /tags` to
                  list available tags and `POST /tags` to create new ones. Not supported together
                  with `queue_id`/`queue_ids` — a queued post has no tag scope until it's
                  actually published, so sending `tags` alongside either is rejected.
              items:
                type: integer


        Tag:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            color:
              type: string
              nullable: true
              pattern: '^#[0-9A-Fa-f]{6}$'
              description: |
                Hex color. Any valid 6-digit hex color is accepted. Null/omitted for the default (uncolored) look.
            type:
              type: string
              enum: [post, inbox]
              nullable: true
              description: Whether this is a post tag or an inbox tag. Null on tags created before this distinction existed — those are treated as inbox tags.
            user_id:
              type: integer
              nullable: true
            team_id:
              type: integer
              nullable: true
              description: Set when the tag belongs to a team; omitted/null for personal tags.
            conversations_count:
              type: integer
              nullable: true
              description: Number of inbox conversations this tag is applied to. Only present for `type=inbox` tags; omitted for post tags, which can never be applied to a conversation.
            can_manage:
              type: boolean
              description: Whether the requesting user can rename or delete this tag. Always true for a personal tag; for a team tag it reflects the team permission required to manage that tag type (`posts.edit` for `type=post`, `inbox.manage` for `type=inbox`) — a member who can only list or create team tags gets `false`.

        Queue:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            user_id:
              type: integer
            user_name:
              type: string
            options:
              type: object
              additionalProperties: true
              nullable: true
            team_id:
              type: integer
              nullable: true
            active:
              type: boolean
            times_to_publish:
              type: integer
              nullable: true
            next_publish_at:
              type: string
              nullable: true
            started_at:
              type: string
              nullable: true
            ended_at:
              type: string
              nullable: true
            created_at:
              type: string
              nullable: true
            updated_at:
              type: string
              nullable: true
            need_cleanup:
              type: boolean

        QueueListResponse:
          type: array
          items:
            $ref: '#/components/schemas/Queue'

        QueuePostCreateRequest:
          type: object
          required:
            - accounts
          properties:
            accounts:
              type: array
              description: ID(s) of one or more social media accounts used to validate queue post options.
              items:
                type: integer
            content:
              type: string
              description: The content to save into the queue.
            options:
              type: object
              description: Queue post options. Can be a shared options object or keyed by account ID.
              additionalProperties: true
            existing_attachments:
              type: array
              description: Attachments already uploaded to SocialBu's storage using media upload endpoint.
              items:
                $ref: '#/components/schemas/UploadedMediaTokenAttachment'

        QueueItem:
          type: object
          additionalProperties: true
          description: A queue item object as returned by the queue posts endpoint.

        QueuePostsResponse:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/QueueItem'
            currentPage:
              type: integer
            lastPage:
              type: integer
            nextPage:
              type: integer
              nullable: true
            total:
              type: integer
            nextItemId:
              type: integer
              nullable: true
            nextPublishTime:
              type: string
              nullable: true

        ThreadedReplies:
            type: array
            description: Threaded replies (thread posts). Each reply can have text and/or media.
            items:
                type: object
                description: A single threaded reply (text and/or media).
                properties:
                    text:
                        type: string
                        description: The text content of the threaded reply.
                    existing_attachments:
                        type: array
                        description: Attachments already uploaded to SocialBu's storage using media upload endpoint.
                        items:
                            $ref: '#/components/schemas/UploadedMediaTokenAttachment'

        FacebookPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                    options:
                        type: object
                        description: Additional options for the post.
                        properties:
                            comment:
                                type: string
                                description: First comment for the post
                            post_as_story:
                                type: boolean
                                description: Set true to post the content as a story. Supported for posts having media attachment(s)
                            post_as_reel:
                                type: boolean
                                description: Set true to post the content as a reel. Supported for video posts only
                            video_title:
                                type: string
                                description: Title for video attachment
                            media_alt_text:
                                type: array
                                description: Alternate text descriptions for each media item in the post.
                                items:
                                    type: string
                            thumbnail:
                                type: object
                                description: Add thumbnail (video post only)
                                properties:
                                    name:
                                        type: string
                                        description: File name (e.g., "image.png").
                                    mimeType:
                                        type: string
                                        description: MIME type of the media (e.g., "image/png").
                                    extension:
                                        type: string
                                        description: File extension (e.g., png, mp4).
                                    key:
                                        type: string
                                        description: Media key, received when uploading media using media upload endpoint.
                                    url:
                                        type: string
                                        description: Media URL, received when uploading media using media upload endpoint.
                                    secureKey:
                                        type: string
                                        description: Media secure key, received when uploading media using media upload endpoint.
                                    temporary:
                                        type: boolean
                                        description: Media status, received when uploading media using media upload endpoint.
                                    _metaData:
                                        type: object
                                        description: Information about media.
                                        properties:
                                            width:
                                                type: integer
                                                description: Width of the media.
                                            height:
                                                type: integer
                                                description: Height of the media.


        InstagramPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                    options:
                        type: object
                        description: Additional options for the post.
                        properties:
                            post_as_story:
                                type: boolean
                                description: Set true to post the content as a story. Supported for posts having a media attachment
                            share_reel_to_feed:
                                type: boolean
                                description: Set true to share the reel to feed. Supported when posting a reel (video)
                            post_as_trial_reel:
                                type: boolean
                                description: Set true to post the video as a Trial Reel. Trial Reels are shown to non-followers first and require a single-video post with at least 100 followers. Cannot be combined with `share_reel_to_feed`.
                            trial_reel_graduation_strategy:
                                type: boolean
                                description: Set true to automatically share the Trial Reel to your followers when it performs well (`SS_PERFORMANCE`). Set false (or omit) to keep it in trial mode until manually shared (`MANUAL`). Only applicable when `post_as_trial_reel` is true.
                            comment:
                                type: string
                                description: First comment for the post
                            media_alt_text:
                                type: array
                                description: Alternate text descriptions for each media item in the post.
                                items:
                                    type: string
                            thumbnail:
                                type: object
                                description: Add thumbnail (video post only)
                                properties:
                                    name:
                                        type: string
                                        description: File name (e.g., "image.png").
                                    mimeType:
                                        type: string
                                        description: MIME type of the media (e.g., "image/png").
                                    extension:
                                        type: string
                                        description: File extension (e.g., png, mp4).
                                    key:
                                        type: string
                                        description: Media key, received when uploading media using media upload endpoint.
                                    url:
                                        type: string
                                        description: Media URL, received when uploading media using media upload endpoint.
                                    secureKey:
                                        type: string
                                        description: Media secure key, received when uploading media using media upload endpoint.
                                    temporary:
                                        type: boolean
                                        description: Media status, received when uploading media using media upload endpoint.
                                    _metaData:
                                        type: object
                                        description: Information about media.
                                        properties:
                                            width:
                                                type: integer
                                                description: Width of the media.
                                            height:
                                                type: integer
                                                description: Height of the media.

        ThreadsPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          properties:
                              reply_control:
                                  type: string
                                  description: Who can reply to the post.
                                  enum:
                                    - everyone
                                    - accounts_you_follow
                                    - mentioned_only
                              threaded_replies:
                                  $ref: '#/components/schemas/ThreadedReplies'


        XPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          properties:
                              media_alt_text:
                                  type: array
                                  description: Alternate text descriptions for each media item in the post.
                                  items:
                                      type: string

                              threaded_replies:
                                  $ref: '#/components/schemas/ThreadedReplies'

                              made_with_ai:
                                  type: boolean
                                  description: Set to true to disclose that the tweet contains AI-generated media. Only applies to the post (and any threaded replies) that have an attached image or video.


        LinkedinPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          required:
                            - document_title
                          description: Additional options for the post.
                          properties:
                              link:
                                  type: string
                                  description: Link for the post.
                              trim_link_from_content:
                                  type: boolean
                                  description: Trim the link from the content.
                              customize_link:
                                  type: boolean
                                  description: Set to true, if you want to custimze the link.
                              link_description:
                                  type: string
                                  description: Set custom link description when customize_link is set to true.
                              link_title:
                                  type: string
                                  description: Set custom link title when customize_link is set to true.
                              media_alt_text:
                                type: array
                                description: Alternate text descriptions for each media item in the post.
                                items:
                                    type: string
                              video_thumbnail:
                                  type: object
                                  description: Optional custom JPEG or PNG thumbnail for a post with exactly one supported video attachment, separate from the link thumbnail. Uses the media object returned by the media upload endpoint. If the thumbnail cannot be read or uploaded at publish time, the video is published without it.
                                  properties:
                                    upload_token:
                                        type: string
                                        description: Upload token returned by `/upload_media/status` or `/upload_media_by_url` for a newly uploaded thumbnail.
                                    key:
                                        type: string
                                        description: Storage key returned for an already-saved thumbnail.
                                    temporary:
                                        type: boolean
                                        description: Whether the uploaded media is temporary.
                              thumbnail:
                                  type: object
                                  description: Custom link thumbnail.
                                  properties:
                                    name:
                                        type: string
                                        description: File name (e.g., "image.png").
                                    mimeType:
                                        type: string
                                        description: MIME type of the media (e.g., "image/png").
                                    extension:
                                        type: string
                                        description: File extension (e.g., png, mp4).
                                    key:
                                        type: string
                                        description: Media key, received when uploading media using media upload endpoint.
                                    url:
                                        type: string
                                        description: Media URL, received when uploading media using media upload endpoint.
                                    secureKey:
                                        type: string
                                        description: Media secure key, received when uploading media using media upload endpoint.
                                    temporary:
                                        type: boolean
                                        description: Media status, received when uploading media using media upload endpoint.
                                    _metaData:
                                        type: object
                                        description: Information about media.
                                        properties:
                                            width:
                                                type: integer
                                                description: Width of the media.
                                            height:
                                                type: integer
                                                description: Height of the media.
                              comment:
                                  type: string
                                  description: First comment for the post.
                              document_title:
                                  type: string
                                  description: Custom document title. Required for posts having PDF, PPT, or Doc as an attachment.



        RedditPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          required:
                            - 'title'
                          properties:
                              title:
                                  type: string
                                  description: Title of the post
                              is_spoiler:
                                  type: boolean
                                  description: Mark the post as spoiler
                              is_nsfw:
                                  type: boolean
                                  description: Mark the post as NSFW
                              flair_id:
                                  type: integer
                                  description: Flair ID can be obtained from accounts' extra_data
                              comment:
                                  type: string
                                  description: First comment for your post.



        MastodonPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          properties:
                              mark_sensitive:
                                  type: boolean
                                  description: Mark status and attached media as sensitive
                              spoiler:
                                  type: string
                                  description: Text to be shown as a warning or subject before the actual content
                              media_alt_text:
                                  type: array
                                  description: Alternate text descriptions for each media item in the post.
                                  items:
                                    type: string
                              threaded_replies:
                                  $ref: '#/components/schemas/ThreadedReplies'


        PinterestPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          required:
                            - 'thumbnail'
                            - 'board_name'
                          properties:
                              thumbnail:
                                  type: object
                                  description: Supported for posts having video attachment.
                                  properties:
                                      name:
                                          type: string
                                          description: File name (e.g., "image.png").
                                      mimeType:
                                          type: string
                                          description: MIME type of the media (e.g., "image/png").
                                      extension:
                                          type: string
                                          description: File type (e.g., "png")
                                      key:
                                          type: string
                                          description: Media key, received when uploading media using media upload endpoint.
                                      url:
                                          type: string
                                          description: Media URL, received when uploading media using media upload endpoint.
                                      secureKey:
                                          type: string
                                          description: Media secure, key received when uploading media using media upload endpoint.
                                      temporary:
                                          type: boolean
                                          description: Media status, received when uploading media using media upload endpoint.
                                      _metaData:
                                          type: object
                                          description: Information about media.
                                          properties:
                                              width:
                                                  type: integer
                                                  description: Width of the media.
                                              height:
                                                  type: integer
                                                  description: Height of the media.
                              pin_title:
                                  type: string
                                  description: Title of the pin to be displayed on the board.
                              board_name:
                                  type: string
                                  description: Name of the board where the pin will be saved.
                              media_alt_text:
                                  type: array
                                  description: Alternate text descriptions for each media item in the post.
                                  items:
                                      type: string
                              pin_link:
                                  type: string
                                  description: Target URL associated with the pin.



        GoogleBusinessProfilePostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          properties:
                              topic_type:
                                  type: string
                                  description: Set the post type `EVENT` or  `OFFER`. By default the post type is standard.
                              event_title:
                                  type: boolean
                                  description: Set the event title. Required when topic_type is EVENT or OFFER
                              event_start:
                                  type: string
                                  format: date-time
                                  description: Format should be Y-m-d H:i:s, Required when topic_type is EVENT or OFFER
                              event_end:
                                  type: string
                                  format: date-time
                                  description: Format should be Y-m-d H:i:s, Required when topic_type is EVENT or OFFER
                              offer_coupon:
                                  type: string
                                  description: Coupon code for offer
                              offer_link:
                                  type: string
                                  description: Link where the offer can be redeemed
                              offer_terms:
                                  type: string
                                  description: Rules or conditions for redeeming the offer.
                              call_to_action:
                                  type: string
                                  description: a message that encourages users to take a specific action, could be `BOOK`, `ORDER`, `SHOP`, `LEARN_MORE`, `SIGN_UP`, or `CALL`
                              call_to_action_url:
                                  type: string
                                  description: Link to where you want the call-to-action button to take the user.
                              save_media_to_gallery:
                                  type: boolean
                                  description: Save the media in the gallery.



        YoutubePostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          properties:
                              video_title:
                                  type: string
                                  description: Title of video.
                              video_tags:
                                  type: string
                                  description: Add tags, separated by comma.
                              category_id:
                                  type: integer
                                  description: You can get the categories list from account's extra_data.
                              privacy_status:
                                  type: string
                                  description: Set the video privacy (public, private, or unlisted).
                              post_as_short:
                                  type: boolean
                                  description: Set true to post the video as youtube shorts.
                              made_for_kids:
                                  type: boolean
                                  description: Set true to post the video as made for kids.
                              thumbnail:
                                  type: object
                                  description: Supported for posts having video attachment.
                                  properties:
                                      name:
                                          type: string
                                          description: File name (e.g., "image.png").
                                      mimeType:
                                          type: string
                                          description: MIME type of the media (e.g., "image/png").
                                      extension:
                                          type: string
                                          description: File type (e.g., "png")
                                      key:
                                          type: string
                                          description: Media key, received when uploading media using media upload endpoint.
                                      url:
                                          type: string
                                          description: Media URL, received when uploading media using media upload endpoint.
                                      secureKey:
                                          type: string
                                          description: Media secure, key received when uploading media using media upload endpoint.
                                      temporary:
                                          type: boolean
                                          description: Media status, received when uploading media using media upload endpoint.
                                      _metaData:
                                          type: object
                                          description: Information about media.
                                          properties:
                                              width:
                                                  type: integer
                                                  description: Width of the media.
                                              height:
                                                  type: integer
                                                  description: Height of the media.



        TiktokPostRequest:
            allOf:
            - $ref: '#/components/schemas/GenericPostRequest'
            - type: object
              properties:
                options:
                    type: object
                    required:
                     - 'privacy_status'
                    properties:
                        title:
                            type: string
                            description: Title of Tiktok post.
                        privacy_status:
                            type: string
                            description: Set the post privacy to one of extra_data.creator_info.privacy_level_options (found in the Account object). For example, `PUBLIC_TO_EVERYONE`.
                        allow_stitch:
                            type: boolean
                            description: Set true to allow others to Stitch your video.
                        allow_duet:
                            type: boolean
                            description: Set true to allow others to create Duet videos with your post.
                        allow_comment:
                            type: boolean
                            description: Set true to allow comments on your post.
                        disclose_content:
                              type: boolean
                              description: Set true to indicate whether this content promotes yourself, a brand, product or service
                        branded_content:
                              type: boolean
                              description: Set true to indicate that you are in a paid partnership with a brand.
                        own_brand:
                              type: boolean
                              description: Set true to indicate that you are promoting yourself or your own business.
                        auto_add_music:
                              type: boolean
                              description: Set true to automatically add recommended music to posts.
                        thumbnail:
                            type: object
                            description: Add thumbnail to the video (video post only)
                            properties:
                                name:
                                    type: string
                                    description: File name (e.g., "image.png").
                                mimeType:
                                    type: string
                                    description: MIME type of the media (e.g., "image/png").
                                extension:
                                    type: string
                                    description: File type (e.g., "png")
                                key:
                                    type: string
                                    description: Media key, received when uploading media using media upload endpoint.
                                url:
                                    type: string
                                    description: Media URL, received when uploading media using media upload endpoint.
                                secureKey:
                                    type: string
                                    description: Media secure, key received when uploading media using media upload endpoint.
                                temporary:
                                    type: boolean
                                    description: Media status, received when uploading media using media upload endpoint.
                                _metaData:
                                    type: object
                                    properties:
                                        width:
                                            type: integer
                                            description: Width of the media.
                                        height:
                                            type: integer
                                            description: Height of the media.


        BlueskyPostRequest:
            allOf:
                - $ref: '#/components/schemas/GenericPostRequest'
                - type: object
                  properties:
                      options:
                          type: object
                          description: Additional options for the post.
                          properties:
                              media_alt_text:
                                  type: array
                                  description:  Alternate text descriptions for each media item in the post.
                                  items:
                                      type: string
                              threaded_replies:
                                  $ref: '#/components/schemas/ThreadedReplies'
        Notification:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                    description: The timestamp when the notification was created.
                id:
                    type: string
                    description: Unique identifier of the notification.
                read_at:
                    type: string
                    format: date-time
                    description: The timestamp when the notification was marked as read. Null if unread.
                is_unread:
                    type: boolean
                    description: True if notification is unread.
                title:
                    type: string
                    description: Title of the notification.
                body:
                    type: string
                    description: Main body of the notification.
                url:
                    type: string
                    description: A URL related to the notification.
                level:
                    type: string
                    description: Priority level of the notification (e.g., info, warning, error).
        Inbox:
            type: object
            properties:
                id:
                    type: string
                    description: Inbox identifier. Account inboxes use `a_{account_id}` and team inboxes use `t_{team_id}`.
                    example: a_123
                name:
                    type: string
                    description: Inbox display name.
                type:
                    type: string
                    enum:
                        - account
                        - team
                    description: Inbox owner type.
                image:
                    type: string
                    nullable: true
                    description: Inbox avatar URL, when available.
                active:
                    type: boolean
                    description: Whether inbox collection is active.
                active_conversations:
                    type: integer
                    description: Number of open conversations.
                accounts:
                    type: array
                    description: Social accounts included in this inbox.
                    items:
                        type: object
                        additionalProperties: true
                members:
                    type: array
                    description: Team members with inbox access details. Empty for account inboxes.
                    items:
                        type: object
                        additionalProperties: true
                email_notifications:
                    type: boolean
                    description: Whether email notifications are enabled for the inbox.
        InboxConversation:
            type: object
            properties:
                id:
                    type: integer
                    description: Conversation ID.
                type:
                    type: string
                    nullable: true
                    description: Network-specific conversation type.
                options:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Network-specific conversation options.
                external_id:
                    type: string
                    nullable: true
                    description: Platform-specific conversation ID.
                contact:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Social contact details, when available.
                latest:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Latest inbox item snapshot.
                account:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Social account attached to the conversation.
                status:
                    type: string
                    enum:
                        - open
                        - pending
                        - closed
                        - spam
                    description: Conversation status.
                content:
                    type: string
                    nullable: true
                    description: Conversation text preview.
                attachments:
                    type: array
                    description: Conversation attachments.
                    items:
                        type: object
                        additionalProperties: true
                tags:
                    type: array
                    description: Conversation tag names.
                    items:
                        type: string
                created_at:
                    type: string
                    format: date-time
                    description: When the conversation was created.
                latest_at:
                    type: string
                    format: date-time
                    description: Time of the latest conversation activity.
                assigned_to:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Assigned user, when assigned.
                creator_account:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Creator account for networks that expose it.
        InboxConversationItem:
            type: object
            properties:
                id:
                    type: integer
                    description: Conversation item ID.
                data:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Raw network-specific item data.
                content:
                    type: string
                    nullable: true
                    description: Item text content.
                contact:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Social contact attached to this item.
                attachments:
                    type: array
                    description: Item attachments.
                    items:
                        type: object
                        additionalProperties: true
                type:
                    type: string
                    description: Network-specific item type.
                parent_id:
                    type: integer
                    nullable: true
                    description: Parent item ID for replies.
                options:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Network-specific item options.
                status:
                    type: string
                    nullable: true
                    description: Item status, such as sent, failed, pending, hidden, or deleted.
                created_at:
                    type: string
                    format: date-time
                    description: When the item was created.
                external_id:
                    type: string
                    nullable: true
                    description: Platform-specific item ID.
                creator_account:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Creator account for networks that expose it.
                children_count:
                    type: integer
                    description: Number of visible replies.
                conversation_id:
                    type: integer
                    description: Parent conversation ID.
                is_internal:
                    type: boolean
                    description: True for internal notes.
                note_author:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Internal note author, when this item is a note.
                tagged_users:
                    type: array
                    description: Users tagged in an internal note.
                    items:
                        type: object
                        additionalProperties: true
        InboxPaginatedConversationsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/InboxConversation'
                currentPage:
                    type: integer
                    description: Current page number.
                lastPage:
                    type: integer
                    description: Last available page number.
                nextPage:
                    type: integer
                    nullable: true
                    description: Next page number, or null when this is the last page.
                total:
                    type: integer
                    description: Total number of matching conversations.
        InboxPaginatedItemsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/InboxConversationItem'
                currentPage:
                    type: integer
                    description: Current page number.
                lastPage:
                    type: integer
                    description: Last available page number.
                nextPage:
                    type: integer
                    nullable: true
                    description: Next page number, or null when this is the last page.
                total:
                    type: integer
                    description: Total number of matching items.
        InboxStatusUpdateRequest:
            type: object
            required:
                - conversation_ids
                - status
            properties:
                conversation_ids:
                    type: array
                    description: Conversation IDs to update.
                    items:
                        type: integer
                status:
                    type: string
                    enum:
                        - open
                        - closed
                        - spam
                        - pending
                    description: New conversation status.
        InboxActionRequest:
            type: object
            additionalProperties: true
            description: |
                Optional action payload. Supported fields depend on the network and action.
                Common actions include:
                - `message`, `reply`, `comment`: send text and/or supported media.
                - `react`: send a reaction value where the network supports message reactions.
                - `vote`: send a Reddit-style vote value where voting is supported.
                Actions such as `like`, `dislike`, `delete`, `hide`, `unhide`, `spam`, `repost`, and `unrepost` usually do not need a body.
            properties:
                content:
                    type: string
                    description: Text for comment/reply/message actions. Some networks also accept `text` or `message`.
                text:
                    type: string
                    description: Alternate text field accepted by some network handlers.
                message:
                    type: string
                    description: Alternate message field accepted by some network handlers.
                attachments:
                    type: array
                    description: Media attachments for networks/actions that support media responses.
                    items:
                        type: object
                        additionalProperties: true
                reaction:
                    type: string
                    description: Reaction value for `react`, such as `love` or an emoji, depending on the network.
                vote:
                    type: integer
                    enum:
                        - -1
                        - 0
                        - 1
                    description: Vote direction for `vote`, where supported.
            example:
                content: Thanks for reaching out.
        ListeningActor:
            type: object
            nullable: true
            properties:
                id:
                    type: string
                    nullable: true
                    description: Platform-specific actor identifier.
                name:
                    type: string
                    nullable: true
                    description: Display name or username of the actor.
                avatar_url:
                    type: string
                    nullable: true
                    format: uri
                    description: Actor avatar URL, when available.
        ListeningAiAnalysis:
            type: object
            nullable: true
            properties:
                sentiment:
                    type: string
                    nullable: true
                    enum:
                        - positive
                        - neutral
                        - negative
                        - mixed
                        - unknown
                    description: AI-detected sentiment, when enabled for the stream.
                tags:
                    type: array
                    description: AI-generated short labels, when enabled for the stream.
                    items:
                        type: string
                analyzed_at:
                    type: string
                    nullable: true
                    format: date-time
                    description: When AI analysis was generated.
        ListeningItem:
            type: object
            properties:
                id:
                    type: integer
                    description: Unique SocialBu listening item ID.
                platform:
                    type: string
                    enum:
                        - bluesky
                        - hackernews
                        - reddit
                        - threads
                        - tiktok
                        - twitter
                        - youtube
                    description: Source platform where the item was found.
                platform_item_id:
                    type: string
                    description: Platform-specific item identifier.
                permalink:
                    type: string
                    nullable: true
                    format: uri
                    description: Original item URL.
                title:
                    type: string
                    nullable: true
                    description: Item title, when the platform provides one.
                body:
                    type: string
                    nullable: true
                    description: Item body or text content.
                actor:
                    $ref: '#/components/schemas/ListeningActor'
                published_at:
                    type: string
                    nullable: true
                    format: date-time
                    description: When the item was published on the source platform.
                status:
                    type: string
                    enum:
                        - active
                        - archived
                    description: Current item status in the stream.
                matched_query:
                    type: string
                    nullable: true
                    description: Stream query that matched this item, when available.
                ai_analysis:
                    $ref: '#/components/schemas/ListeningAiAnalysis'
                created_at:
                    type: string
                    format: date-time
                    description: When SocialBu saved the item.
        ListeningItemsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ListeningItem'
                currentPage:
                    type: integer
                    description: Current page number.
                lastPage:
                    type: integer
                    description: Last available page number.
                nextPage:
                    type: integer
                    nullable: true
                    description: Next page number, or null when this is the last page.
                total:
                    type: integer
                    description: Total number of matching items.
        ListeningActivityResponse:
            type: array
            description: Daily saved-item counts split by matched keyword or platform. Dates without activity are omitted.
            items:
                type: object
                properties:
                    date:
                        type: string
                        format: date
                    key:
                        type: string
                        nullable: true
                        description: Matched keyword or listening source key; null when no keyword was recorded.
                    value:
                        type: integer
                required:
                    - date
                    - key
                    - value
        ListeningBulkItemRequest:
            type: object
            required:
                - item_ids
            properties:
                item_ids:
                    type: array
                    minItems: 1
                    description: Listening item IDs to archive or delete.
                    items:
                        type: integer
        ListeningBulkItemResponse:
            type: object
            properties:
                success:
                    type: boolean
                count:
                    type: integer
                    description: Number of items changed by the bulk operation.
        ListeningSource:
            type: object
            properties:
                key:
                    type: string
                    description: Source key to pass when creating or filtering a listening stream.
                label:
                    type: string
                    description: Human-readable source name.
                color:
                    type: string
                    description: Display color used by SocialBu for this source.
                icon:
                    type: string
                    description: Icon CSS classes used by SocialBu for this source.
                query_hint:
                    type: string
                    description: Plain-text guidance for this source's search queries; empty when no guidance is provided.
        ListeningStream:
            type: object
            properties:
                id:
                    type: integer
                    description: Unique SocialBu listening stream ID.
                name:
                    type: string
                    description: Stream name.
                description:
                    type: string
                    nullable: true
                    description: Optional stream description.
                query:
                    type: array
                    description: Shared query terms used across sources unless a source-specific query is configured.
                    items:
                        type: string
                sources:
                    type: array
                    description: Source keys enabled for this stream.
                    items:
                        type: string
                platform_queries:
                    type: object
                    additionalProperties:
                        type: array
                        items:
                            type: string
                    description: Source-specific query terms keyed by source.
                is_active:
                    type: boolean
                    description: Whether scheduled fetching is enabled for the stream.
                can_view:
                    type: boolean
                    description: Whether the authenticated user can view the stream.
                can_manage:
                    type: boolean
                    description: Whether the authenticated user can manage the stream.
                team:
                    type: object
                    nullable: true
                    properties:
                        id:
                            type: integer
                        name:
                            type: string
                            nullable: true
                notify_daily_digest:
                    type: boolean
                    description: Whether daily digest notifications are enabled.
                digest_recipient_ids:
                    type: array
                    items:
                        type: integer
                ai_analysis:
                    type: object
                    additionalProperties: true
                rss_url:
                    type: string
                    nullable: true
                    format: uri
                embed_url:
                    type: string
                    nullable: true
                    format: uri
                embed_urls:
                    type: object
                    additionalProperties:
                        type: string
                        nullable: true
                        format: uri
                last_item_at:
                    type: string
                    nullable: true
                    format: date-time
                total_items_found:
                    type: integer
                item_count:
                    type: integer
                    nullable: true
                active_count:
                    type: integer
                    nullable: true
                created_at:
                    type: string
                    format: date-time
        ListeningStreamsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ListeningStream'
                currentPage:
                    type: integer
                lastPage:
                    type: integer
                nextPage:
                    type: integer
                    nullable: true
                total:
                    type: integer
                monthly_item_quota:
                    type: object
                    nullable: true
                    additionalProperties: true
        ListeningStreamRequest:
            type: object
            required:
                - name
                - query
                - sources
            properties:
                name:
                    type: string
                    maxLength: 180
                description:
                    type: string
                    nullable: true
                query:
                    description: >-
                        Shared searches used when a source has no platform override. Each selected
                        source needs at least one positive query in its effective list; negative-only
                        entries are allowed as exclusions alongside positive entries. Threads accepts
                        one from:username optionally followed by content terms. TikTok author searches
                        use from:username without additional positive terms.
                    type: array
                    minItems: 1
                    maxItems: 10
                    items:
                        type: string
                        maxLength: 500
                sources:
                    type: array
                    minItems: 1
                    items:
                        type: string
                        enum:
                            - bluesky
                            - hackernews
                            - reddit
                            - threads
                            - tiktok
                            - twitter
                            - youtube
                team_id:
                    type: integer
                    nullable: true
                options:
                    type: object
                    properties:
                        ai_filter_enabled:
                            type: boolean
                        ai_filter_prompt:
                            type: string
                            nullable: true
                            maxLength: 1000
                        ai_analyze_sentiment:
                            type: boolean
                        ai_generate_tags:
                            type: boolean
                platform_queries:
                    type: object
                    additionalProperties:
                        type: array
                        maxItems: 10
                        items:
                            type: string
                            maxLength: 500
        CurationItem:
            type: object
            properties:
                id:
                    type: integer
                    description: Unique identifier for the item.
                feed_id:
                    type: integer
                    description: Identifier of the feed to which this item belongs.
                title:
                    type: string
                    description: Title of the item.
                link:
                    type: string
                    description:  Public URL to the original content of the item.
                description:
                    type: string
                    description: Detailed description or summary of the content.
                media:
                    type: string
                    description: URL to any media (e.g., image, video) associated with the item.
                published_at:
                    type: string
                    format: date-time
                    description: Timestamp indicating when the item was published.
                authors:
                    type: string
                    description: The list of authors.
                tags:
                    type: string
                    description: Comma-separated list of tags associated with the item.
                score:
                    type: integer
                    description: Popularity score of the feed item.
        CurationSearchSuggestion:
            type: object
            properties:
                id:
                    type: string
                    description: Stable suggestion identifier.
                name:
                    type: string
                    description: Search suggestion text.
                items_count:
                    type: integer
                    description: Always 0 for search suggestions; reserved for future use.

paths:
    /:
        get:
            security: []
            tags:
                - Authentication
            summary: Discover the SocialBu API
            description: Returns links to the API documentation, OpenAPI specification, authentication endpoint, and MCP server.
            operationId: discoverApi
            responses:
                '200':
                    description: API discovery information
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - name
                                    - version
                                    - documentation
                                    - openapi
                                    - authentication
                                    - mcp
                                properties:
                                    name:
                                        type: string
                                    version:
                                        type: string
                                    documentation:
                                        type: string
                                        format: uri
                                    openapi:
                                        type: string
                                        format: uri
                                    authentication:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                            token_endpoint:
                                                type: string
                                                format: uri
                                    mcp:
                                        type: string
                                        format: uri
                '429':
                    description: Too many requests

    /auth/get_token:
        post:
            security:
                - {}
            tags:
                - Authentication
            summary: Get access token for authentication of requests
            description: |
                Generates an access token for API authentication.
            operationId: getToken
            responses:
                '200':
                    description: Access token
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    authToken:
                                        type: string
                                        description: New access token. Any old token will be invalidated.
                                    id:
                                        type: integer
                                        description: User's Socialbu Account ID.
                                    name:
                                        type: string
                                        description: User's Socialbu Account Name.
                                    email:
                                        type: string
                                        description: User's Socialbu Account Email.
                                    verified:
                                        type: boolean
                                        description: User's email verification status.
                '400':
                    description: Bad Request
                '422':
                    description: The given data was incorrect.

            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - email
                                - password
                            properties:
                                email:
                                    type: string
                                    description: User's email address e.g, (user@example.com)
                                password:
                                    type: string
                                    description: User's password.

    /auth/logout:
        post:
            tags:
                - Authentication
            summary: Destroy current access token
            description: Logs you out by destroying your access token.
            operationId: logout
            responses:
                '200':
                    description: Logged out successfully.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        description: Indicates whether logout was successful.
                '400':
                    description: Bad Request

    /posts:
        get:
            tags:
                - Posts
            summary: List posts
            description: Returns a paginated list of posts filtered by their status. Use the `type` parameter to fetch scheduled, draft, awaiting-approval, or published posts. Reviewed post objects include `reviewed_by` with `id`, `name`, and `action` (`approved` or `rejected`) when approval metadata is available.
            operationId: getPosts
            responses:
                '200':
                    description: Get Posts
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        description: An array of post objects.
                                        items:
                                            type: object
                                            additionalProperties: true
                                    currentPage:
                                        type: integer
                                        description: The current page number of the paginated results.
                                    lastPage:
                                        type: integer
                                        description: The last page number of the paginated results.
                                    nextPage:
                                        type: integer
                                        nullable: true
                                        description: The next page number, or null if this is the last page.
                                    total:
                                        type: integer
                                        description: Total number of items.
                '400':
                    description: Bad Request
                '422':
                    description: The given data was invalid.
            parameters:
                - name: type
                  in: query
                  description: The type of posts you want to fetch
                  schema:
                      type: string
                      enum:
                          - scheduled
                          - awaiting_approval
                          - scheduled_or_awaiting_approval
                          - draft
                          - published
                      default: scheduled_or_awaiting_approval
                - name: perPage
                  in: query
                  description: Number of posts per page. Maximum 100.
                  schema:
                      type: integer
                      maximum: 100
                - name: page
                  in: query
                  description: Page number to fetch.
                  schema:
                      type: integer
                - name: start
                  in: query
                  description: Filter posts on or after this date.
                  schema:
                      type: string
                      format: date
                - name: end
                  in: query
                  description: Filter posts on or before this date.
                  schema:
                      type: string
                      format: date
                - name: team
                  in: query
                  description: Limit results to a specific team ID.
                  schema:
                      type: integer
                - name: accounts
                  in: query
                  description: Limit results to specific account IDs.
                  schema:
                      type: array
                      items:
                          type: integer
                - name: user
                  in: query
                  description: Limit results to posts created by a specific user ID.
                  schema:
                      type: integer
                - name: tags
                  in: query
                  description: >-
                      Limit results to posts having any of these tag IDs. Send either a
                      comma-separated list (`tags=1,2`) or the repeated `tags[]=1&tags[]=2` form.
                  style: form
                  explode: false
                  schema:
                      type: array
                      items:
                          type: integer
                - name: source
                  in: query
                  description: Filter by post source.
                  schema:
                      type: string
                - name: q
                  in: query
                  description: Free-text search query.
                  schema:
                      type: string
                - name: include_post
                  in: query
                  description: Include a specific post ID in the result set when relevant to the UI flow.
                  schema:
                      type: integer
        post:
            tags:
                - Posts
            summary: Create a new post.
            description: |
                Creates a new post for one or more social media accounts. Each network has its own optional `options` object — refer to the network-specific request schemas below.

                To attach media, first upload it via `/upload_media` or `/upload_media_by_url` and include the returned `upload_token` in `existing_attachments`.

                This endpoint also supports a queue shortcut:
                - Send `queue_id` or `queue_ids` to save the post into one or more queues instead of creating scheduled posts.
                - In queue mode, the response only contains a confirmation message.
            operationId: createPost
            responses:
                '200':
                    description: Post created or saved to queue.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - type: object
                                      properties:
                                          success:
                                              type: boolean
                                              description: Indicates whether the post was created successfully.
                                          posts:
                                              type: array
                                              description: An array of created post objects.
                                              items:
                                                  type: object
                                                  additionalProperties: true
                                    - type: object
                                      properties:
                                          message:
                                              type: string
                                              example: Successfully saved to queue

                '400':
                    description: Bad Request
                '422':
                    description: The given data was invalid.
            requestBody:
                content:
                    application/json:
                        schema:
                            anyOf:
                                - $ref: '#/components/schemas/FacebookPostRequest'
                                - $ref: '#/components/schemas/InstagramPostRequest'
                                - $ref: '#/components/schemas/XPostRequest'
                                - $ref: '#/components/schemas/ThreadsPostRequest'
                                - $ref: '#/components/schemas/LinkedinPostRequest'
                                - $ref: '#/components/schemas/RedditPostRequest'
                                - $ref: '#/components/schemas/MastodonPostRequest'
                                - $ref: '#/components/schemas/PinterestPostRequest'
                                - $ref: '#/components/schemas/GoogleBusinessProfilePostRequest'
                                - $ref: '#/components/schemas/YoutubePostRequest'
                                - $ref: '#/components/schemas/TiktokPostRequest'
                                - $ref: '#/components/schemas/BlueskyPostRequest'

    /posts/supported-options:
        get:
            tags:
                - Posts
            summary: Get supported post options for accounts
            description: Returns the raw publish handler option definitions for the specified accounts or all available accounts. Each option includes its type, label, constraints, and available choices.
            operationId: getSupportedOptions
            parameters:
                - name: account_ids
                  in: query
                  description: Comma-separated list of account IDs to get options for. If omitted, returns options for all available accounts.
                  required: false
                  schema:
                      type: string
                      example: '1,2,3'
            responses:
                '200':
                    description: Supported options retrieved successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    accounts:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                account_id:
                                                    type: integer
                                                    description: The account ID.
                                                account_type:
                                                    type: string
                                                    description: The social network type (e.g. instagram, facebook, twitter).
                                                account_name:
                                                    type: string
                                                    description: The account display name.
                                                options:
                                                    type: object
                                                    description: A map of option keys to their raw definitions from the publish handler.
                                                    additionalProperties:
                                                        type: object
                                                        properties:
                                                            label:
                                                                type: string
                                                            type:
                                                                type: string
                                                                description: Raw option type from publish handler.
                                                                enum:
                                                                    - string
                                                                    - boolean
                                                                    - dropdown
                                                                    - json
                                                            storage:
                                                                type: string
                                                                description: Storage type for the option value.
                                                                enum:
                                                                    - scalar
                                                                    - json
                                                                    - file
                                                            required:
                                                                type: boolean
                                                            default:
                                                                description: The default value for this option.
                                                            max_length:
                                                                type: integer
                                                            options:
                                                                type: array
                                                                items:
                                                                    type: object
                                                                    properties:
                                                                        value:
                                                                            type: string
                                                                        label:
                                                                            type: string
                                                                description: Available choices for dropdown-type options.
                '404':
                    description: No matching accounts found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: false
                                    message:
                                        type: string
                                        example: No matching accounts found.

    /tags:
        get:
            tags:
                - Tags
            summary: List tags
            description: Returns tags available to the authenticated user. Pass `team_id` to list a team's tags — requires any of `posts.view`, `posts.create` or `posts.edit` for `type=post`, or `inbox.manage` for `type=inbox`. Omit `team_id` to list your personal tags.
            operationId: listTags
            parameters:
                - name: type
                  in: query
                  required: true
                  description: Which set of tags to list — post tags or inbox tags. Tags are no longer shared between the two.
                  schema:
                      type: string
                      enum: [post, inbox]
                - name: team_id
                  in: query
                  description: Team ID to scope the tag list to. Omit to list personal tags.
                  schema:
                      type: integer
            responses:
                '200':
                    description: Tag list
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Tag'
                '403':
                    description: You do not have permission to access this team's tags.
        post:
            tags:
                - Tags
            summary: Create a tag
            description: Creates a new tag, either personal or scoped to a team. A team `type=post` tag requires `posts.create` or `posts.edit`; a team `type=inbox` tag requires `inbox.manage`.
            operationId: createTag
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - name
                                - type
                            properties:
                                name:
                                    type: string
                                    minLength: 2
                                    maxLength: 50
                                team_id:
                                    type: integer
                                    description: Team ID to create the tag under. Omit to create a personal tag.
                                color:
                                    type: string
                                    nullable: true
                                    pattern: '^#[0-9A-Fa-f]{6}$'
                                    description: Hex color. Any valid 6-digit hex color is accepted. Omit for the default (uncolored) look.
                                type:
                                    type: string
                                    enum: [post, inbox]
                                    description: Whether this is a post tag or an inbox tag. Tags are no longer shared between the two.
            responses:
                '200':
                    description: Tag created successfully.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                    tag:
                                        type: string
                                        description: The created tag's name.
                                    id:
                                        type: integer
                                        description: The created tag's id.
                                    color:
                                        type: string
                                        nullable: true
                                    can_manage:
                                        type: boolean
                                        description: Whether the requesting user can also rename/delete this tag — see the Tag schema. A create-only team member gets `false` even for a tag they just created.
                '400':
                    description: Tag already exists.
                '403':
                    description: You do not have permission to create a tag for this team.
                '422':
                    description: Validation failed (e.g. missing/invalid `type`, or `color` not a valid `#RRGGBB` hex string).

    '/tags/{id}':
        patch:
            tags:
                - Tags
            summary: Rename a tag
            description: Renames or recolors a tag. For a team tag this requires `posts.edit` (`type=post`) or `inbox.manage` (`type=inbox`).
            operationId: updateTag
            parameters:
                - name: id
                  in: path
                  description: Tag ID.
                  required: true
                  schema:
                      type: integer
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - name
                            properties:
                                name:
                                    type: string
                                    minLength: 2
                                    maxLength: 50
                                color:
                                    type: string
                                    nullable: true
                                    pattern: '^#[0-9A-Fa-f]{6}$'
                                    description: Hex color. Any valid 6-digit hex color is accepted. Omit to leave the current color unchanged.
            responses:
                '200':
                    description: Tag updated successfully.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                    tag:
                                        $ref: '#/components/schemas/Tag'
                '400':
                    description: Tag already exists.
                '404':
                    description: Tag not found.
        delete:
            tags:
                - Tags
            summary: Delete a tag
[...]
